body {
    box-sizing: border-box;
    background-color: teal;
    color: thistle;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}
.header {
    color: red;
}
.common {
    color: black;
    font-weight: 800;
    font-style: italic;
}
